/*****SG CSS: Copyright 2014***********/

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
	display: block;
}

div{
	display: block;
}

*{
	margin: 0;
	padding: 0;
} /*takes up whole space of browser*/

html, body{
	font-family: "Helvetica Neue", helvetica, tahoma, arial, 'Open Sans',sans-serif;
	font-size: 14px;
	background-color:none;
}

a{
	color: #fff;
}

a:hover{
	color: #00CC00;
}

header{
	background-color:#003333;
	min-height: 50px;
}

h4{
	color: #666;
}


.banner{
	background-color: none;
	width: 1000px;
	min-height: 50px;
	margin: 0 auto;
}

nav ul li{
	display: inline; /*displays links inline*/
	margin: 22px;
	/*position: relative;
	top: 30px;*/
	font-weight: none;
	text-transform: none;
	font-size: 15px;
}

nav ul li a{
	text-decoration: none; /*removes underlines of links*/
}

.navigation{
	float: right;
	/*margin-left: 45px;*/
	margin-top: 15px;
}
	
.logo{
	margin-top: 3px;
	margin-left: 0px;
	float: left;
}

img{
	/*max-width:100%;
	max-height: 100%;*/

	/*width: 100%; /*sets images in whole browser screen according to width*/
	/*max-height: 660px; /*Important, it helps to resize the height of image while resizing browser*/
	/*make sure to check the height, as it height does not increase while maximizing browser*/
}

#content{
	width: 1000px;
	height: auto;
	background-color: none; 
	margin: 0 auto;
	padding: 5px;
	margin-top: 8px;
	overflow: hidden;
	display: block;
	position: relative;
	/*overflow: hidden;*/	
	/*position: relative;*/
}

#content-for-photo{
	width: 1000px;
	height: auto;
	background-color: none; 
	margin: 0 auto;
	padding: 5px;
	margin-top: 8px;
	overflow: hidden;
	display: block;
}



.home-middleleft{
	width: 322px;
	height: auto;
	background-color: none;
	float: left;
	margin-right: 11px;
	position: relative;
	left: 5px;
	/*margin-right: 11px;*/
	/*position: relative;
	top: 10px;*/
	cursor:pointer;
	overflow: hidden;
}

.home-middleleft:hover{
	filter: alpha(opacity=90);
	opacity: .6;
	/*-webkit-filter: brightness(150%);*/
}

/*.home-middlecenter{
	width: 322px;
	height: auto;
	background-color: none;
	float: left;
	margin-right: 17px;
	position: relative;
	top: 10px;
	cursor: pointer;
}

.home-middlecenter:hover{
	filter: alpha(opacity=90);
	opacity: .6;
	/*-webkit-filter: brightness(150%);
}*/

/*.home-middleright{
	width: 322px;
	height: auto;
	background-color: none;
	float: left;
	position: relative;
	top: 10px;
	clear: right;
	margin-bottom: 30px;
	cursor: pointer;
}

.home-middleright:hover{
	filter: alpha(opacity=90);
	opacity: .6;
	/*-webkit-filter: brightness(150%);
}*/

/****** Slider CSS*****/

.slider{
	height: 500px;
	width: 1000px;
	overflow: hidden;
	margin: 0 auto;
	background-color: none;
	display: block;
	/*float: left;*/
}

  .slider > ul {
    /* styled by JS to match the added width and height of all <li>’s */
    position: relative;
    -webkit-transition: 0.5s left;
    -moz-transition: 0.5s left;
    -ms-transition: 0.5s left;
    -o-transition: 0.5s left;
    list-style: none;
    margin: 0; padding: 0;
  }

   .slider > ul > li {
      float: left;
      width: 1000px; 
      height: 500px;
    }

.slider-buttons ul li a{
	background-color: none;
	color: #000;
	text-decoration: none;
}

.slider-buttons ul li{
	display: inline;
}

.prev{
	float: left;
	position: relative;
	bottom: 265px;
	left: 10px;
}

.next{
	float: right;
	position: relative;
	bottom: 265px;
	right: 10px;

}

.sliderone{
	text-align: center; line-height: 60px; height: 60px; width: 165px; background-color: #F8F8F8 ; padding: 5px; float: left; /*margin-right: 25px;*/position: relative; left: 65px; color: #000; border-bottom: 2px solid #686868; font-weight: none; /*border-top: 2px solid #686868;*/
}

.sliderone:hover{
	background-color: #686868;
	color: #fff;
}

.slidertwo{
	text-align: center; line-height: 60px; height: 60px; width: 165px; background-color: #FFE6F0; padding: 5px; float: left; /*margin-right: 25px;*/ position: relative; left: 65px; color: #000; border-bottom: 2px solid #CC0066; font-weight: none; /*border-top: 2px solid #CC0066;*/
}

.slidertwo:hover{
	background-color: #CC0066;
	color: #fff;
}

.sliderthree{
	text-align: center; line-height: 60px; height: 60px; width: 165px; background-color:#E6E6FF; padding: 5px; float: left; /*margin-right: 25px;*/ position: relative; left: 65px; color: #000; border-bottom:2px solid #0000FF; font-weight: none;/*border-top: 2px solid #9999FF;*/
}

.sliderthree:hover{
	background-color: #0000FF;
	color: #fff;
}

.sliderfour{
	text-align: center; line-height: 60px; height: 60px; width: 165px; background-color:#FFF5E6;  padding: 5px; float: left; /*margin-right: 25px;*/ position: relative; left: 65px; color: #000; border-bottom: 2px solid #FF9900; font-weight: none;/*border-top: 2px solid #660000;*/
}

.sliderfour:hover{
	background-color: #FF9900;
	color: #fff;
}

.sliderfive{
	text-align: center; line-height: 60px; height: 60px; width: 165px; background-color: #E6F5EB; padding: 5px; float: left; /*margin-right: 25px;*/ position: relative; left: 65px; color: #000; border-bottom: 2px solid #009933; font-weight: none;/*border-top: 2px solid #333300;*/
}

.sliderfive:hover{
	background-color: #009933;
	color: #fff;
}
/*********************/

.home-thumb-left{
	width: 322px;
	height: 85px;
	background-color:#fff;
	border-bottom: solid 1px #E8E8E8;
	position: relative;
	bottom: 3px;
	overflow: hidden;
}

.home-thumb-left > p{
	font-size: 12px;
	color: #505050; 
}

.home-thumb-left > h4{
	color: #505050; 
	padding-top: 3px;
}

.home-thumb-middle{
	width: 100%;
	height: 85px;
	background-color: none;
	border-bottom: solid 1px #E8E8E8;
	border-left: solid 1px #E8E8E8;
	border-right: solid 1px #E8E8E8;
	position: relative;
	bottom: 3px;
	overflow: hidden;
}

.home-thumb-middle > p{
	font-size: 12px;
	color: #505050;
}

.home-thumb-middle > h4{
	color: #505050; 
	padding-top: 3px;
}

.home-thumb-right{
	width: 100%px;
	height: 85px;
	background-color: none;
	border-bottom: solid 1px #E8E8E8;
	border-left: solid 1px #E8E8E8;
	border-right: solid 1px #E8E8E8;
	position: relative;
	bottom: 3px;
	overflow: hidden;
}

.home-thumb-right > p{
	font-size: 12px;
	color: #505050;
}

.home-thumb-right > h4{
	color: #505050; 
	padding-top: 3px;
}

.home-photo-title{
	background-color: none;
	width:100%;
	overflow: hidden;
	margin-bottom: 40px;
	border-bottom: 1px solid #999;
	padding-bottom: 7px;
	/*color: #707070;*/
}

.home-photo-title h4{
	font-size: 24px; color: #666; font-weight: 400;
}

.home-blog-title{
	background-color: none;
	width:100%;
	overflow: hidden;
	margin-bottom: 19px;
	border-bottom: 1px solid #999;
	padding-bottom: 7px;
	/*color: #707070;*/
}

.home-blog-title h4{
	font-size: 24px; color: #666; font-weight: 400;
}

.footer{
	height: 130px;
	width: 100%;
	background-color: #333;
}

/*** #cecece ** put this color for footer text**/
/********** Blog CSS ****************/

.home-blog-left{
	background-color:#FFFFE6;
	width:450px;
	height: 150px;
	float: left;
	position:relative;
	left: 20px;
	/*position: relative;
	top: 10px;*/ 
	margin-right: 40px;
	margin-top: 30px;
	padding: 5px;
}

.home-blog-left:hover{
	filter: alpha(opacity=90);
	opacity: .6;
}
/*.home-blog-right{
	background-color: #FFF5E6;
	width: 450px;
	height: 200px;
	float: right;
	position: relative;
	top: 10px;
}

.home-blog-left2{
	background-color: #FFF5E6;
	width: 450px;
	height: 200px;
	float: left;
	margin-top: 20px;
}

.home-blog-right2{
	background-color: #FFF5E6;
	width: 450px;
	height: 200px;
	float: right;
	margin-top: 20px;
}*/

.clearing{
	clear: both;
}

.blog-pic{
	background-color: none;
	height: 150px;
	width: 200px;
	overflow: hidden;
	float: left;
}

.blog-info{
	height: 190px;
	width: 240px;
	background-color: none;
	overflow: hidden;
	float: right;
	padding-right:4px;
	text-align: justify;
	text-justify: inter-word;
	color: #505050;
}

/************* Actual Photo Thumb CSS************/

.photo-thumb-box{
	background-color: none;
	height: auto;
	width: 720px;
	overflow: hidden;
	padding: 5px;
	padding-bottom: 0px;
	float: left;
}

.photo-thumb{
	height: auto;
	width: 160px;
	float: left;
	cursor: pointer;
	background-color: none;
	margin-right: 10px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 10px;
	border: 5px solid white;
}

.photo-thumb:hover{
	border: 5px solid orange;
}

.photo-info{
	height: 100px;
	width: 705;
	background-color: #F5FFF0;
	padding-top: 3px;
	padding-left: 5px;
}

.side-bar{
	height: 480px;
	width:250px;
	background-color: none;
	float: right;
	border-left: 1px solid #f0f0f0;
	overflow: hidden;
}



.circle{
	position: relative;
	bottom: 20px;
}

.photo-container{
	width: 668px;
	height: auto;
	background-color: none;
	overflow: hidden;
	display: block;
	float: left;
}

.photo-page-side-div{
	height: auto;
	background-color:#F8F8F8;
	width: 310px;
	float: right;
	overflow: hidden;
	padding: 4px;
	margin-top: 0px;
	position: relative;
	top: 5px;
	/*border-left: 1px solid #F0F0F0;*/
}

.box1{
	width:300px;
	height: auto;
	padding: 5px;
	background-color: #FFFFE6;
	float: left;
	overflow: hidden;
	margin-bottom: 5px;
}

.box1:hover{
	filter: alpha(opacity=90);
	opacity: .6;
	/*-webkit-filter: brightness(150%);*/
}

.box1imagethumb{
	height: 110px;
	width: 120px;
	background-color: none;
	float: left;
	overflow: hidden;
}

.box1infodiv{
	height: 110px;
	width: 170px;
	background-color: none;
	float: right;
	overflow: hidden;
	/*margin-left: 125px;*/
}

.photo-header{
	width: 318px;
	height: 40px;
	background-color: orange;
	float: right;
	text-align: center;
	line-height: 40px;
	margin-top: 53px;
	border-radius: 5px 5px 0 0;
}
/*************Flip Panel CSS***************/

.panel{
	height: 200px;
	background-color: orange;
	display: none;
}

.home-advertise{
	background-color:#E6FAE6;
	width: 500px;
	height: 250px;
}

.h_a_1{
	background-color:red;
	margin: 0 auto;
	text-align: center;
	height: auto;
	width: 230px;
	position: relative;
	top: 100px;
	padding: 20px;
	border-radius: 3px;
	color: white;
	cursor: pointer;
}
